{% extends 'base.html.twig' %}

{% block title %}Filmes{% endblock %}

{% block body %}

    <fieldset>
        <legend>Novo filme</legend>

        {{ form_start(form_filmes) }}
        {{ form_widget(form_filmes) }}
      

        <button id="salvar" class="btn bnt-primary pull-right" type="submit">Salvar</button>
        
  {{ form_end(form_filmes) }}
    </fieldset>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function(){
           $('#filmes_genero').append('<option value="xxx" selected="selected">XXX</option>'); 
        });
        
    </script>
    
    {% endblock %}  